* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
}

/* Trang chủ */
/* Header Css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.header-container {
  height: 100%;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header-logo {
  width: 60px;
}

.header-nav li {
  position: relative;
  display: inline-block;
  margin: 0 16px;
  transition: transform ease-in-out 0.1s;
}

.header-nav li a {
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav li a:hover {
  opacity: 0.65;
}

.header-search-and-login {
  display: flex;
  align-items: center;
}

.header-search {
  display: flex;
  width: 215px;
  height: 32px;
  margin-right: 12px;
  background-color: #eceff1;
  border: solid thin #eceff1;
}

.header-search-input {
  outline: none;
  border: none;
  padding-left: 10px;
  background-color: transparent;
  line-height: 32px;
  flex: 1;
}

.header-search-input::placeholder {
  color: #000;
}

.header-search-icon {
  font-size: 18px;
  line-height: 32px;
  padding: 0 8px;
}

.header-search-icon:hover {
  cursor: pointer;
}

.login,
.register {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.login:hover,
.register:hover {
  text-decoration: underline;
}

/* Slider Css */
.slider {
  margin-top: 60px;
}

.slider-img {
  display: block;
  width: 100%;
}

/* Content Css */
.content {
  margin-top: 80px;
}

.content-container {
  width: calc(100% - 288px);
  margin: auto;
}

.content-title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.content-title a {
  text-decoration: none;
  color: #333;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
  margin-bottom: 160px;
}

.product-item {
  transition: transform 0.1s ease;
}

.product-item:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.item-img {
  width: 100%;
}

.item-info {
  padding: 10px 10px 20px;
}

.item-name {
  line-height: 1.4;
  margin-bottom: 6px;
}

.item-name a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.item-price {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.item-price span {
  margin-left: 4px;
  color: #767677;
  text-decoration: line-through;
}

/* Footer Css */
.footer {
  height: 76px;
  text-align: center;
  border-top: 1px solid #767677;
  background-color: #282c31;
  overflow: hidden;
}

.footer li {
  display: inline;
  list-style-type: none;
  line-height: 76px;
  padding: 0 15px;
  margin-left: -4px;
  border-right: 1px solid #fff;
}

.footer li:last-child {
  border: none;
}

.footer li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* Đăng nhập */
.login-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
}

.login-box {
  text-align: center;
  width: 650px;
  margin: 109px 0;
  padding: 24px 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #000000 0px 2px 4px 0px;
}

.login-box .title {
  margin-bottom: 20px;
  text-align: left;
}

.user-name,
.password,
.submit-btn {
  width: 100%;
}

.user-name input,
.password input {
  font-size: 16px;
  width: 100%;
}

.user-name,
.password {
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}

.user-name {
  margin-bottom: 12px;
}

.submit-btn {
  height: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  background-color: #333;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}

.submit-btn:active {
  opacity: 0.95;
}

.forgot-password {
  margin: 18px 0;
}

.forgot-password a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.register-btn {
  display: inline-block;
  width: 180px;
  height: 48px;
  margin-top: 18px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 48px;
  border-radius: 6px;
  background-color: #42b72a;
}

.register-btn:hover {
  background-color: #36a420;
}

/* Liên hệ */
.contact {
  margin-top: 60px;
  margin-bottom: 26px;
}

.contact-container {
  display: flex;
  margin: auto;
  width: calc(100% - 288px);
}

.contact-box {
  width: 565px;
}

.text-contact {
  display: inline-block;
  line-height: 24px;
  color: #000;
  letter-spacing: 0.5px;
  margin: 32px 0 12px;
}

.contact form p {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact form input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #5e5e78;
  margin-bottom: 14px;
  border-radius: 2px;
  border: 1px solid #c8c8d4;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.contact form input:focus {
  border-color: rgb(185, 74, 72);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.contact form textarea {
  width: 100%;
  height: 130px;
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid #c8c8d4;
  transition: box-shadow 0.2s ease;
  outline: none;
}

.contact form textarea:focus {
  border-color: rgb(185, 74, 72);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.contact form input[type="submit"] {
  height: 50px;
  width: 40%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 32px;
  border-radius: 8px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #333;
  cursor: pointer;
}

.contact form input[type="submit"]:hover {
  opacity: 0.9;
}

.contact form input[type="submit"]:active {
  opacity: 0.95;
}

.contact-info {
  flex: 1;
  margin-left: 120px;
  margin-top: 32px;
}

.contact-info .title {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 8px;
}

.contact-info p a {
  color: #000;
  text-decoration: none;
}

.contact-info p a:hover {
  text-decoration: underline;
}

.contact-info p i {
  width: 30px;
}

/* Đăng kí */
.register-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
}

.register-box {
  width: 650px;
  margin: 114px 0;
  padding: 24px 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: #000000 0px 2px 4px 0px;
}

.register-box .title {
  margin-bottom: 20px;
}

.register-box .full-name {
  display: flex;
}

.register-box .first-name,
.register-box .last-name {
  width: 50%;
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  margin-bottom: 12px;
}

.register-box .first-name {
  margin-left: 6px;
}

.register-box .last-name {
  margin-right: 6px;
}

.register-box .first-name input,
.register-box .last-name input {
  font-size: 16px;
  width: 100%;
}

.register-box .register-btn {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.register-box p {
  text-align: center;
  margin-top: 28px;
}

.register-box p a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

.register-box p a:hover {
  text-decoration: underline;
}

/* Bảng báo giá sản phẩm */
.product-price-table {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px 0;
  margin-top: 60px;
}

.product-price-table .table-title {
  margin-bottom: 22px;
}

table,
th,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

.product-price-table th {
  padding: 16px;
}

.product-price-table .product-name {
  text-align: left;
}

.product-price-table .price-sale {
  color: red;
}

/* Chi tiết sản phẩm */
.product-details {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.product-images-list {
  width: 534px;
  margin-right: 450px;
  border-right: 1px solid #eceff1;
}

.product-images-list img {
  width: 100%;
  object-fit: cover;
}

img {
  margin-bottom: 8px;
}

.product-order-box {
  position: fixed;
  top: 60px;
  right: 0;
  width: 450px;
  padding: 30px 40px;
  background-color: #fff;
}

.product-details .product-name {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  line-height: 1.3;
}

.product-price {
  font-weight: 600;
  font-size: 18px;
  margin: 8px 0 20px;
}

.product-price span {
  color: red;
  margin-left: 4px;
  text-decoration: line-through;
}

.product-sizes p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.product-sizes .size-btn {
  width: 74px;
  height: 40px;
  margin-left: -5px;
  background-color: transparent;
  border: 1px solid #eceff1;
}

.product-sizes .size-btn:nth-child(2) {
  margin-left: 0;
}

.product-sizes .size-btn:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.order-btn {
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  margin-top: 32px;
  background-color: #000;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.order-btn:hover {
  cursor: pointer;
  color: #767677;
}

.product-about {
  margin: 32px 0 56px;
}

.product-about p {
  font-size: 32px;
  font-weight: bold;
}

.product-about li {
  color: #000;
  font-size: 18px;
  padding-top: 16px;
  margin-left: 24px;
}

/* Giới thiệu */
.about-content {
  margin-top: 60px;
}

.about-header .about-headline {
  display: flex;
}

.about-headline-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 108px 65px;
  flex: 1;
}

.about-headline-info h1 {
  font-size: 42px;
}

.about-headline-img {
  width: 100%;
  flex: 1.2;
}

.about-headline-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about-list {
  width: 980px;
  margin: auto;
  padding-bottom: 60px;
}

.about-item {
  display: inline-block;
  margin-top: 60px;
}

.about-item .about-title {
  font-size: 30px;
  margin-left: 24px;
  margin-bottom: 40px;
}

.about-item .about-img {
  width: 100%;
  margin-bottom: 60px;
}

.about-item .about-text,
.about-item .about-sub-text {
  font-size: 20px;
  line-height: 30px;
  margin-left: 24px;
}

.about-item .about-sub-text {
  margin-top: 20px;
}
.about-item .about-sub-text a {
  color: #000;
}

.about-item .about-sub-text a:hover {
  color: #fff;
  background-color: #000;
}