* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header-container {
    height: 100%;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header-logo {
    width: 60px;
}

.header-nav li {
    display: inline;
}

.header-nav li a {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-nav li a:hover {
    opacity: 0.65;
}

.header-search {
    display: flex;
    width: 215px;
    height: 32px;
    background-color: #eceff1;
    border: solid thin #eceff1;
    transition: border ease 1s;
}

.header-search-input {
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: transparent;
    line-height: 32px;
    flex: 1;
}

.header-search-input::placeholder {
    color: #000;
}

.header-search-icon {
    font-size: 18px;
    line-height: 32px;
    padding: 0 8px;
}

.header-search-icon:hover {
    cursor: pointer;
}


/* Slider Css */
.slider {
    margin-top: 80px;
}

.slider-img {
    display: block;
    width: 100%;
}

/* Content Css */
.content {
    margin-top: 80px;
}

.content-container {
    width: calc(100% - 288px);
    margin: auto;
}

.content-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 22px;
    margin-bottom: 160px;
}

.item-img {
    width: 100%;
}

.item-info {
    padding: 10px 10px 20px;
}

.item-name {
    line-height: 1.4;
    margin-bottom: 6px;
}

.item-name a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

.item-price {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.item-price span {
    margin-left: 4px;
    color: #767677;
    text-decoration: line-through;
}


/* Footer Css */
.footer {
    height: 76px;
    text-align: center;
    border-top: 1px solid #767677;
    background-color: #282c31;
    overflow: hidden ;
}

.footer li {
    display: inline;
    list-style-type: none;
    line-height: 76px;
    padding: 0 15px;
    margin-left: -4px;
    border-right: 1px solid #fff;
}

.footer li:last-child {
    border: none;
}

.footer li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}