* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Table css */
.banggia {
  border: 1px solid orange;
}

.table-title:first-child {
  color: #fff;
  text-align: center;
  background-color: orange;
}

.banggia tr td {
  padding: 4px;
}

.sale {
  font-weight: bold;
  text-align: right;
}

.footer {
  color: orange;
  text-align: center;
}

/* Form css */
.dangky p {
  line-height: 30px;
  font-weight: bold;
}

.dangky p span {
  color: red;
}

.nut {
  height: 30px;
  padding: 0 25px;
  color: #fff;
  background-color: #000;
}

.xoa {
  background-color: red;
}

input[type="text"] {
  height: 30px;
}
